/* Marque */


/* The outer container that hides the overflow */
.marquee-wrapper {
    overflow: hidden;
    /* Hides the text when it goes off-screen */
    width: 100%;
    padding: 15px 0;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    /* Forces text to stay on one single line */
    will-change: transform;

}


a:hover {
    text-decoration: none;
    color: inherit;
    background-color: transparent !important;
}